<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.cdk.business.CDKManager"
            service="net.bioclipse.cdk.business.CDKManagerFactory">
      </scriptContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="net.bioclipse.cdk.domain.CDKAdapterFactory">
         <adapter
               type="net.bioclipse.cdk.domain.ICDKMolecule">
         </adapter>
      </factory>
   </extension>

<extension
      point="net.bioclipse.qsar.descriptorProvider">
      <category
            id="net.bioclipse.qsar.cdk.category1"
            name="CDK cat 1"
            icon="icons/molecule2D.png">
      </category>
      <category
            id="net.bioclipse.qsar.cdk.category2"
            name="CDK cat 2"
            icon="icons/molecule2D.png">
      </category>
      <descriptorProvider
            id="net.bioclipse.cdk.descriptorprovider"
            name="Chemistry Development Kit (CDK)"
            icon="icons/molecule2D.png"
            calculator="net.bioclipse.cdk.qsar.impl.CDKDescriptorCalculator"
            acceptsSmiles="true"
            acceptsCml="true"
            acceptsMolfile="true">
            <descriptor
                  category="net.bioclipse.qsar.cdk.category1"
                  id="net.bioclipse.cdk.qsar.descriptor.desc1"
                  name="CDK Desc1">
            </descriptor>
            <descriptor
                  category="net.bioclipse.qsar.cdk.category2"
                  id="net.bioclipse.cdk.qsar.descriptor.desc2"
                  name="CDK Desc2">
            </descriptor>
      </descriptorProvider>
</extension>

</plugin>
