<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="QSAR Editor"
            filenames="qsar.xml"
            icon="icons/sample.gif"
            contributorClass="net.bioclipse.qsar.ui.editors.QSAREditorContributor"
            class="net.bioclipse.qsar.ui.editors.QSARFormEditor"
            id="net.bioclipse.qsar.editors.QSARFormEditor">
      </editor>
   </extension>


   <extension
         id="net.bioclipse.qsar.QSARBuilder"
         name="QSAR Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.bioclipse.qsar.ui.builder.QSARBuilder">
         </run>
      </builder>
   </extension>
   
   <extension
         id="net.bioclipse.qsar.QSARNature"
         name="QSAR Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.bioclipse.qsar.ui.builder.QSARNature">
         </run>
      </runtime>
      <builder
            id="net.bioclipse.qsar.QSARBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/qsar_ovr.gif"
            id="net.bioclipse.images.QsarProjectImage"
            natureId="net.bioclipse.qsar.QSARNature"/>
   </extension>

   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="net.bioclipse.qsar.contribution1">
         <action
               label="Add/Remove QSAR Nature"
               class="net.bioclipse.qsar.ui.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="net.bioclipse.qsar.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension
      point = "org.eclipse.ui.newWizards">
	<category
	   id = "net.bioclipse.categories.qsar"
	   name="QSAR">
	</category>
 	<wizard
	   id = "net.bioclipse.qsar.wizards.NewQSARRProjectWizard"
	   name = "New QSAR project"
	   project="true"
	   class="net.bioclipse.qsar.ui.wizards.NewQSARProjectWizard"
	   category="net.bioclipse.categories.qsar"
	   icon="icons/sample.gif">
   	   <description>New QSAR Wizard</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
</extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.bioclipse.qsar.ui.prefs.QSARPreferenceInitializer">
      </initializer>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
    	<page id="net.bioclipse.qsar.ui.prefs.ProvidersPreferencePage"
  	      	name="QSAR"
	      	class="net.bioclipse.qsar.ui.prefs.ProvidersPreferencePage">
	   	</page>
   </extension>


</plugin>
