<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.bioclipse.qsar.descriptorProvider">
         <!--category
               id="net.bioclipse.qsar.test.category1"
               name="category1">
         </category>
         <category
               id="net.bioclipse.qsar.test.category2"
               name="category2">
         </category-->
         <provider
               calculator="net.bioclipse.qsar.test.DummyCalculator"
               id="net.bioclipse.qsar.test.descriptorProvider1"
               shortName="provider1"
               namespace="net.bioclipse.qsar.test.provider1.namespace"
               name="descriptorProvider1">
           <descriptorImpl
                     id="net.bioclipse.qsar.test.descriptor1"
                  definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#BCUT"
                     description="net.bioclipse.qsar.test.description1"
                     name="descriptor1">
            </descriptorImpl>
           <descriptorImpl
                     id="net.bioclipse.qsar.test.descriptor2"
                  definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#chiChain"
                     description="net.bioclipse.qsar.test.description2"
                     name="descriptor2">
            </descriptorImpl>
         </provider>
         <provider
               calculator="net.bioclipse.qsar.test.DummyCalculator"
               id="net.bioclipse.qsar.test.descriptorProvider2"
               shortName="provider2"
               name="descriptorProvider2">
           <descriptorImpl
                     id="net.bioclipse.qsar.test.descriptor3"
                  definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#chiChain"
                     description="net.bioclipse.qsar.test.description3"
                     name="descriptor3">
            </descriptorImpl>
           <descriptorImpl
                     id="net.bioclipse.qsar.test.descriptorERROR"
                  definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#aromaticBondsCount"
                     description="net.bioclipse.qsar.test.descriptionERROR"
                     name="ErrorDescriptor">
            </descriptorImpl>
           <descriptorImpl
                     id="net.bioclipse.qsar.test.descriptor3D"
                  definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#chiChain"
                     description="net.bioclipse.qsar.test.description3D"
                     requires3D="true"
                     name="Requires3D">
            </descriptorImpl>
           <descriptorImpl
                     id="net.bioclipse.qsar.test.descriptorParams"
                  definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#chiChain"
                     description="net.bioclipse.qsar.test.descriptionParams"
                     name="descriptorParams">
                     <parameter
                           defaultvalue="true"
                           description="description1"
                           key="bogusParameter">
                     </parameter>
                     <parameter
                           defaultvalue="101.67"
                           description="description2"
                           key="bogusParameter2">
                     </parameter>
            </descriptorImpl>
         </provider>
   </extension>

</plugin>
